<div class="row">
  <div class="input-field col s6">
    <i class="material-icons prefix">mode_edit</i>
    <textarea ng-maxlength="120" length="120" id="icon_prefix2" ng-model="about.exampleTweet" class="materialize-textarea"></textarea>
    <label for="icon_prefix2">Message</label>
  </div>

  <div class="col s6">
    <div class="input-field">
      <i class="material-icons prefix">search</i>
      <input ng-model="about.searchTerm" type="text" class="validate">
      <label for="icon_prefix"></label>
    </div>

    <div ng-click="about.getTweets()" class="btn">
      <span>Go!</span>
    </div>
    <div ng-if="about.tweets !== null" ng-repeat="tweet in about.tweets" class="card">
      <p>{{tweet.text}}</p>
    </div>
    <div ng-if="about.tweets === null" class="card">
      <p>Nothing to show..</p>
    </div>
  </div>
</div>
<button class="btn" ng-click="about.written()">5</button>
<button class="btn" ng-click="about.chosen('herp')">50</button>
<button class="btn" ng-click="about.sendExample()">100</button>
<div class="row">
  <div class="offset-s2 col s2 left-align">
  Herp Derp 
  </div>
  <div class="col s4 center-align">
  Derp Herp
  </div>
  <div class="col s2 right-align">
  Complete!
  </div>
  <div class="offset-s2 col s8">
    <div class="progress">
      <div class="determinate" ng-style="about.progress"></div>
    </div>
  </div>
</div>
